<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="localovdrupal">
  <description>PHP CodeSniffer configuration for LocalGovDrupal.</description>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>
  <config name="drupal_core_version" value="8"/>

  <file>web/profiles/contrib/localgov/</file>
  <file>web/modules/contrib/</file>
  <!-- Exclude modules not starting with localgov_ -->
  <exclude-pattern>web\/modules\/contrib\/(?!localgov_.*)</exclude-pattern>

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal"/>
  <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice"/>

</ruleset>
